extends layout

block content
    h1.links Datenschutzerklärung

    .impressum-container
        if datenschutzHtml
            != datenschutzHtml
        else
            p Inhalt konnte nicht geladen werden.