extends layout

block content
    h1.links Impressum

    .impressum-container

        if impressumHtml
            != impressumHtml
        else
            // Fallback, falls Variable nicht übergeben wurde (sollte aber durch Server-Logik abgedeckt sein)
            p Inhalt konnte nicht geladen werden.