extends layout

block content
    section.hero
        .hero-image
            img(src="/images/logo.gif" alt="Theater")
        .hero-text
            h1 Herzlich Wilkommen bei der
            h2 Schwoagara Dorfbühne
            h3 Kunst und Kultur e.V.
            p Erleben Sie die Magie des Theaters mit der Schwoagara Dorfbühne.
                | Nehmen Sie an kulturellen Veranstaltungen und Aufführungen teil.
            button.btn.btn-primary(onclick="location.href='#anfahrt'") Anfahrt
            button.btn.btn-secondary(onclick="location.href='#contact'") Kontakt




    // SERVICE-/ANGEBOTS-BEREICH
    section.services#service
        h2 Entdecken Sie unser vielfältiges Angebot
        .services-grid
            a.service(href="/theater")
                img(src="/images/IconBühne.svg" alt="Theater Icon")
                h3 Theater
                p Genießen Sie unsere mitreißenden Stücke, gespielt von unseren Erfahrenen Darstellern.
            a.service(href="/jugendtheater")
                img(src="/images/IconKinder.svg" alt="Kindertheater Icon")
                h3 Kinder Theater
                p Werden Sie Teil von faszinierenden Vorführungen unserer Nachwuchstalente.
            a.service(href="/starkbierfest")
                img(src="/images/IconSBF.svg" alt="Starkbier Icon")
                h3 Starkbierfest
                p Besuchen Sie unser traditionsreiches Starkbierfest.


    // TEAM-BEREICH
    section.team#about
        h2 Unsere Vorstandschaft
        .team-grid
            .team-member
                img(src="/images/user1.jpg" alt="Team Member 1")
                h3 Sebastian Liedl
                p 1. Vorstand
            .team-member
                img(src="/images/user2.jpg" alt="Team Member 2")
                h3 Andreas Schmidt
                p 2. Vorstand
            .team-member
                img(src="/images/user3.jpg" alt="Team Member 3")
                h3 Werner Gruner
                p Kassier
            .team-member
                img(src="/images/user4.jpg" alt="Team Member 4")
                h3 Theresa Priller
                p Schriftführerin
            .team-member
                img(src="/images/user5.jpg" alt="Team Member 5")
                h3 Hannah Hauber
                p Jugendvertretung
            .team-member
                img(src="/images/user6.jpg" alt="Team Member 6")
                h3 Christoph Krammel
                p Beirat


    section.anfahrt#anfahrt
        h2 Anfahrt
        div.maps
            #display-google-map
                iframe(frameborder="0", src="https://www.google.com/maps/embed/v1/place?q=Schwoagara+Dorfbühne+Kunst+und+Kultur+e.V.&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8")




    //KONTAKT-/FOOTER-BEREICH (Platzhalter für Kontaktformular etc.)
    section.contact#contact
        h2 Kontakt
        p Hier könnte ein Kontaktformular oder Anfahrtsbeschreibung stehen.
