extends layout

block content
    .theater-header
        .sort-container
            .sort-dropdown
                button.sort-button Sortieren
                .sort-menu
                    a(href="/jugendtheater?sort=title&order=asc") Titel (A–Z)
                    a(href="/jugendtheater?sort=title&order=desc") Titel (Z–A)
                    a(href="/jugendtheater?sort=year&order=asc") Jahr (aufsteigend)
                    a(href="/jugendtheater?sort=year&order=desc") Jahr (absteigend)
        .headertext
            h1 Kindertheater Archiv
            p Entdecke unsere zauberhaften Aufführungen für Kinder.

    if jugendtheaterStuecke
        .jugendtheater-grid
            each theater in jugendtheaterStuecke
                a.jugendtheater-card(data-id=theater.id, href=`/jugendtheater/${theater.id}`)
                    img(src=url+theater.randomBild)
                    h3= theater.Titel
