extends layout

block content
    .theater-detail-container
        h1= theater.Titel
        h3= theater.Jahr ? theater.Jahr : ""

        .carousel-container
            button.carousel-prev
                img(src="/images/Pfeil.svg", alt="Vorherige Folie")
            .carousel
                each bild in theater.Bilder
                    a(href=`${bild.url}`, target="_blank")
                        img.carousel-slide(src=`${bild.url}`)
            button.carousel-next
                img(src="/images/Pfeil.svg", alt="Nächste Folie")
        if beschreibungHtml
            .theater-description
                if beschreibungHtml
                    != beschreibungHtml

        script(src="/js/carousel.js")
