extends layout

block content
    .kulturbote-container
        .kultorbote-header
            h1 Kulturbote Archiv
            p Wählen Sie einen Kulturboten aus, um ihn in einem neuen Tab zu öffnen.

        .kulturbote-selection
            if kulturboten && kulturboten.length
                each bote in kulturboten
                    if bote.KulturbotePDF && bote.KulturbotePDF.url
                        a.kulturbote-card(href=`${url}${bote.KulturbotePDF.url}`, target="_blank")
                            span= "Kulturbote " + bote.KulturbotePDF.name.replace('.pdf', '')
                    else
                        .kulturbote-card
                            span Kein Dokument vorhanden
            else
                p Keine Kulturboten verfügbar.
