doctype html
html(lang="de")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title #{title} | Schwoagara Dorfbühne
        link(rel="stylesheet", href="/css/style.css")
        link(rel="stylesheet", href="/css/fonts.css")

    body
        header.navbar
            a.navbar-brand(href="/")
                p Schwoagara Dorfbühne
            div.burger-menu(onclick="toggleMenu()")
                span
                span
                span
            ul.nav-menu
                li
                    a(href="/") Home
                li
                    a(href="/termine") Termine
                li
                    a(href="/karten") Kartenverkauf
                li
                    a(href="/verein") Über uns
                li
                    a(href="/links") Links

        main
            .container
                block content

footer.footer
    .footer-container
        .footer-logo
            p Schwoagara Dorfbühne
        .footer-links
            a(href="/datenschutz") Datenschutz
            a(href="/impressum") Impressum
        .footer-socials
            a(href="https://facebook.com" target="_blank")
                i.fab.fa-facebook
            a(href="https://instagram.com" target="_blank")
                i.fab.fa-instagram
        .footer-bottom
            p © #{new Date().getFullYear()} Schwoagara Dorfbühne – Alle Rechte vorbehalten

