extends layout

block content
    h1.links Links


    if links && links.length > 0
        .links-container
            each link in links
                .link-card
                    h3= link.Name
                    if link.Link
                        a(href=link.Link, target="_blank")= link.Link.replace('https://', '')
                    else
                        p Kein Link vorhanden
    else

        p Keine Links zum Anzeigen vorhanden.