extends layout

block content
    .theater-detail-container
        h1 Starkbierfest #{fest.jahr}
        h3=fest.Kurzbeschreibung

        .carousel-container
            button.carousel-prev
                img(src="/images/Pfeil.svg")
            .carousel
                each bild in fest.Bilder
                    img.carousel-slide(src=`${bild.url}`)
            button.carousel-next
                img(src="/images/Pfeil.svg")

        if fest.Beschreibung
            .theater-description
                if beschreibungHtml
                    != beschreibungHtml

    script(src="/js/carousel.js")