extends layout

block content
    .starkbier-container
            .theater-header
                .theater-header-container
                    .headerdetails
                        h1 Starkbierfeste
                    .sort-container
                        .sort-dropdown
                            button.sort-button Sortieren
                            .sort-menu
                                a(href="/starkbierfest?sort=year&order=asc") Jahr (aufsteigend)
                                a(href="/starkbierfest?sort=year&order=desc") Jahr (absteigend)

            if starkbierfeste
                .starkbier-grid
                    each fest in starkbierfeste
                        a.starkbier-card(href=`/starkbierfest/${fest.Jahr}`)
                            img(src=url+fest.randomBild)
                            .starkbier-info
                                h2= fest.Jahr
                                p= fest.Kurzbeschreibung

            else
                p Aktuell keine Starkbierfeste verfügbar