extends layout

block content
    .starkbier-container
        h1 Starkbierfeste
        img.tannengirlande(src="/images/Tannengirlande.svg", alt="Tannengirlande")
        if starkbierfeste
            .starkbier-grid
                each fest in starkbierfeste
                    a.starkbier-card(href=`/starkbierfest/${fest.Jahr}`)
                        img(src=url+fest.randomBild)
                        .starkbier-info
                            h2= fest.Jahr
                            p= fest.Kurzbeschreibung

        else
            p Aktuell keine Starkbierfeste verfügbar