extends layout

block content
    section.verein
        h1 Über uns

        if gruppenFoto
            .gruppenfoto-container
                img.gruppenfoto(src=gruppenFoto.Vorstandschaftsfoto.url)


        .options-container
            a.option-card(href="/kulturbote")
                img(src="/images/IconKulturbote.svg", alt="Kulturbote")
                h3 Kulturbote

            a.option-card(href="/theater")
                img(src="/images/IconBühne.svg", alt="Erwachsenentheater")
                h3 Theater

            a.option-card(href="/jugendtheater")
                img(src="/images/IconKinder.svg", alt="Jugendtheater")
                h3 Familientheater

            a.option-card(href="/starkbierfest")
                img(src="/images/IconSBF.svg", alt="Starkbierfest")
                h3 Starkbierfest

            a.option-card(href="/bilderarchiv")
                img(src="/images/IconBilderarchiv.svg", alt="Bilderarchiv")
                h3 Bilderarchiv

        .verein-info
            if geschichteHtml
                != geschichteHtml

        .downloads
            h2 Wichtige Dokumente
            .download-container
                if antrag && antrag.Mitgliedsantrag && antrag.Mitgliedsantrag.url
                    a(href=url+antrag.Mitgliedsantrag.url, class="btn-download") 📄 Aufnahmeantrag
                else
                    p 📄 Aufnahmeantrag derzeit nicht verfügbar.

                if satzung && satzung.Satzung && satzung.Satzung.url
                    a(href=url+satzung.Satzung.url, class="btn-download") 📜 Satzung
                else
                    p 📜 Satzung derzeit nicht verfügbar.
